html{
    color: #d9e1ff;
    overflow: hidden;
    font-family: "Evolventa";
}
body{
    background-color: #242b46;
}
.header{
    display: flex;
    justify-content: center;
}
.header h1{
    z-index: 2;
    margin-top: 2%;
    font-size: 90px;
    display: flex;
    justify-content: center;
}
.small{
    background-position:center;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99;
}
.navbar__earth:hover {
    box-shadow: 0 0 30px #2e5af869;
    filter: grayscale(00%);
}
.navbar__moon:hover {
    box-shadow: 0 0 30px #2e5af869;
}
.small1{
    position: absolute;
    animation: small1 25s  infinite alternate linear;
}
.small3__rotate{
    position: absolute;
    animation: small3rotate 25s  infinite alternate linear;
}
.small2__rotate{
    position: absolute;
    animation: small2 25s  infinite alternate linear;
}
.metheors, .navbar, .foreground__big-stars, h1, .background{
    position: absolute;
    margin-top: 0;
}
@font-face{
    font-family: "Evolventa";
    src: url(../assets/fonts/evolventa.ttf);
}
.navbar{
    position: absolute;
    z-index: 97;
    display: flex;
    width: 100%;
    height:100%;
    justify-content: center;
    top:20%;
}
.navbar__earth{
    animation: navrotate 25s  infinite reverse linear;
    margin: 23%;
    transition: all 2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px #d9e1ff69;
    font-size: 47px;
    border-radius: 50%; 
    background-image: url(../assets/img/Earth.png);
    background-position: center;
    width: 54%;
    height: 54%;
    filter: grayscale(30%);
    background-repeat: no-repeat;
}
.navbar__moon{
    animation: navrotate 25s  infinite reverse linear;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px #d9e1ff69;
    font-size: 35px;
    margin-left: 50%;
    margin-top: -14%;
    border-radius: 50%; 
    background-image: url(../assets/img/Moon.png);
    background-position: center;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
}
.navbarcontainer{
    text-shadow: 1px 1px 4px #000000;
    width: 663px;
    height: 663px;
    background-image: url(../assets/img/dashes.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: navrotate 25s  infinite forwards linear;
}
.big1{
    animation: big112 15s  infinite alternate linear;
    z-index: 101;
    position: fixed;
}
.big2{
    animation: big111 25s  infinite alternate linear;
    top: 60%;
    left: -20%;
    z-index: 100;
    position: fixed;
}
.background{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 3s ease-in-out;
}
.navbar__item1{
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    text-shadow: 1px 1px 4px #000000;
}
.navbar__item2{
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.navbar__item1:hover{
    transform: scale(1.05);
}
.navbar__item2:hover{
    transform: scale(1.05);
}
.background__little-stars{
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/Lstars.png);
    z-index: 0;
    background-size: cover;
}
.foreground{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/bstars.png);
    z-index: 96;
    background-size: cover;
    transition: all 3s ease-in-out;
}
.fgR{
    position: absolute;
    width: 100%;
    height: 100%;
}
.background{
    z-index: 0;
}
.small2R{
    position: absolute;
    animation: small2R 35s  infinite alternate linear;
}
.small2{
    z-index: 2;
    position: absolute;
    animation: small2 35s  infinite alternate linear;
}
.small3R{
    position: absolute;
    animation: small3R 55s  infinite alternate linear;
}
.small3{
    z-index: 2;
    top: 80vh;
    position: absolute;
    animation: small3 55s  infinite alternate linear;
}
@keyframes big112{
    0%{
        transform: rotate(-10deg) translate(-100%, -100%);
    }
    100%{
        transform: rotate(-40deg) translate(200%, 000%);
    }
}
@keyframes big111{
    0%{
        transform: rotate(-30deg) translate(-40%, 10%);
    }
    30%{
        transform: rotate(25deg) translate(100%, 50%);
    }
    60%{
        transform: rotate(35deg) translate(200%, -200%);
    }
    100%{
        transform: rotate(45deg) translate(300%, -100%);
    }
}
@keyframes navrotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes small1{
    0%{
        transform: rotate(-10deg) translate(0, 50%);
    }
    100%{
        transform: rotate(-40deg) translate(900%, 300%);
    }
}
@keyframes small2R{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(300deg);
    }
}
@keyframes small2{
    0%{
        transform: translate(0, 0%);
    }
    40%{
        transform: translate(100vw, 30vh);
    }
    63%{
        transform: translate(50vw, 100vh);
    }
    100%{
        transform: translate(-10vw, -2vh);
    }
}
@keyframes small3R{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(200deg);
    }
}
@keyframes small3{
    0%{
        transform: translate(0, 0%);
    }
    40%{
        transform: translate(110vw, 25vh);
    }
    63%{
        transform: translate(50vw, 100vh);
    }
    100%{
        transform: translate(-10vw, -2vh);
    }
}
.jupiter{
    position: fixed;
    z-index: 102;
    left: -85%; 
    transition: all 4s ease-in-out;
}
.jpIMG{
    width: 100%;
    height: 100%;
}

nav{
    transition: 1s ease-in-out;
}
.violet{
    position: absolute;
    background-color: rgba(69, 0, 158, 0.151);
    width: 70%;
    height: 50%;
    top: 30%;
    left: 15%;
    border-radius:100% 0% 100% 0% /100% 0% 100% 0% ;
    transform: rotate(30deg);
    filter: blur(100px);
}
.pink{
    position: absolute;
    background-color: rgba(233, 0, 221, 0.062);
    width: 40%;
    height: 20%;
    top: 45%;
    left: 30%;
    border-radius:100% 0% 100% 0% /100% 0% 100% 0% ;
    transform: rotate(30deg);
    filter: blur(50px);
}
.colors{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 3s ease-in-out;
}
.sp{
    position: absolute;
    display: flex;
    opacity: 0%;
    margin-top: 7%;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 95;
    transition: all 3s ease-in-out;
}
.sp > h2{
    text-decoration: underline;
    font-size: 35px;
    opacity: 0;
    transition: all 2s ease-in-out;
}
.predicts{
    min-width: 20%;
    max-width: 42%;
    min-height: 7%;
    max-height: 12%;
    background-color:#242b46f1;
    border: solid 2px  rgb(19, 23, 46);
    padding: 0.5%;
    padding-top: 0.5%;
    text-align: center;
    font-size: 25px;
    margin-left: -30%;
    opacity: 0;
    border-radius: 6px;
    transition: all 1.5s ease-in-out;
    box-shadow: 0 0 30px #053a6669;
}
.im{
    height:95%;
    border-radius: 8px;
    border: solid 2px  rgb(19, 23, 46);
    box-shadow: 0 0 30px #0d4d8169;
}
.DayPhoto{
    display: flex;
    justify-content: center;
    max-height: 45% ;
    margin-top: -1%;
    margin-right: -30%;
    transition: all 1.5s ease-in-out;
    opacity: 0;
}


.tp{
    position: absolute;
    display: none;
    opacity: 100%;
    margin-top: 15%;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 95;
    transition: all 3s ease-in-out;
}
.digits__container{
    margin-top: 10%;
    width: 40%;
    height:  50%;
    display: flex;
    justify-content: space-between;
}

.circle{
    box-shadow: 0 0 30px #0d4d8169;
    text-align: center;
    color:#242b46;
    background-color: #d9e1ff;
    width: 190px;
    font-size: 190px;
    height: 190px;
    opacity: 0;
    border-radius: 50%;
    border: 2px dashed #242b46;
}
.digitTXT{
    background-color:#242b46f1;
    box-shadow: 0 0 30px #0d4d8169;
    border: solid 3px  rgb(19, 23, 46);
    font-size: 20px;
    padding: 0.5%;
    max-width: 40%;
    min-width: 40%;
    min-height: 7%;
    text-align: center;
    border-radius: 8px;
    opacity: 0;
}
.circle1{
}
.circle2{
    animation-delay: 0.5s;
}
.circle3{
    animation-delay: 0.9s;
}
@keyframes c1{
    0%{
        opacity: 0;
        transform: translateX(0);
    }
    50%{
        transform: translateX(120%);
        opacity: 100%;
    }
    100%{
        transform: translateX(0px);
        opacity: 100%;
    }
}

@media screen and (max-width: 1600px){
    .navbarcontainer{
        width: 550px;
        height: 550px;
    }
    .navbar__item1{
        font-size: 40px;
    }
    .header h1{
        font-size: 70px;
    }
}
@media screen and (max-width: 1400px){
    .navbarcontainer{
        width: 400px;
        height: 400px;
    }
    .navbar__item1{
        font-size: 30px;
    }
    .navbar{
        top:25%
    }
    .header h1{
        font-size: 60px;
    }
    .navbar__moon{
        font-size: 25px;
        width: 100px;
        height: 100px;
    }
    .sp > h2{
        font-size: 25px;
    }
    .predicts{
        font-size: 18px;
    }
    .digits__container{
        margin-top: 7%;
    }
    .circle{
        width: 150px;
        font-size: 150px;
        height: 150px;
    }
    .jpIMG{
        width: 50%;
        height: 50%;
    }
    .small{
        width: 100px;
    }
    .big{
        width: 450px;
    }
}
@media screen and (max-width: 1200px){
    .navbarcontainer{
        width: 350px;
        height: 350px;
    }
    .navbar__item1{
        font-size: 25px;
    }
    .navbar{
        top:25%
    }
    .header h1{
        font-size: 55px;
    }
    .navbar__moon{
        font-size: 20px;
        width: 80px;
        height: 80px;
    }
    .sp > h2{
        font-size: 22px;
    }
    .predicts{
        font-size: 18px;
    }
    .digits__container{
        margin-top: 6%;
    }
    .circle{
        width: 130px;
        font-size: 130px;
        height: 130px;
    }
    .jupiter{
        left: -100%;
    }
    .small{
        width: 90px;
    }
    .big{
        width: 400px;
    }
    .digitTXT{
        font-size: 18px;
    }
}
@media screen and (max-width: 1000px){
    .navbarcontainer{
        width: 300px;
        height: 300px;
    }
    .navbar__item1{
        font-size: 25px;
    }
    .navbar{
        top:25%
    }
    .header h1{
        font-size: 45px;
    }
    .navbar__moon{
        font-size: 20px;
        width: 80px;
        height: 80px;
    }
    .sp > h2{
        font-size: 18px;
    }
    .predicts{
        padding-top: 2px;
        font-size: 16px;
        max-width: 70%;
    }
    .digits__container{
        margin-top: 6%;
    }
    .circle{
        width: 100px;
        font-size: 100px;
        height: 100px;
    }
    .jupiter{
        left: -140%;
    }
    .small{
        width: 80px;
    }
    .big{
        width: 350px;
    }
    .digitTXT{
        max-width: 70%;
        font-size: 16px;
    }
}
@media screen and (max-width: 850px){
    .navbarcontainer{
        width: 250px;
        height: 250px;
    }
    .navbar__item1{
        font-size: 17px;
    }
    .navbar{
        top:22%
    }
    .header h1{
        font-size: 35px;
    }
    .navbar__moon{
        font-size: 16px;
        width: 60px;
        height: 60px;
    }
    .sp > h2{
        font-size: 16px;
    }
    .predicts{
        padding-top: 2px;
        font-size: 15px;
        max-width: 80%;
        max-height: 10%;
    }
    .digits__container{
        margin-top: 6%;
    }
    .circle{
        width: 80px;
        font-size: 80px;
        height: 80px;
    }
    .jupiter{
        left: -140%;
    }
    .small{
        width: 70px;
    }
    .big{
        width: 300px;
    }
    .digitTXT{
        max-width: 70%;
        font-size: 16px;
    }
    .tp{
        margin-top: 10%;
    }    
    .sp{
        margin-top: 5%;
    }  
}
@media screen and (max-width: 450px){
    .navbarcontainer{
        width: 300px;
        height: 300px;
    }
    .navbar__item1{
        font-size: 21px;
    }
    .navbar{
        top:30%
    }
    .header h1{
        text-align: center;
        font-size: 35px;
    }
    .navbar__moon{
        font-size: 16px;
        width: 80px;
        height: 80px;
    }
    .sp > h2{
        font-size: 16px;
    }
    .predicts{
        padding-top: 2px;
        font-size: 15px;
        max-width: 90%;
        max-height: 10%;
    }
    .digits__container{
        margin-top: 30%;
        width: 90%;
        height: 50%;
    }
    .circle{
        width: 90px;
        font-size: 90px;
        height: 90px;
    }
    .jupiter{
        left: -340%;
    }
    .small{
        width: 70px;
    }
    .big{
        width: 300px;
    }
    .digitTXT{
        min-height: 1%;
        max-width: 90%;
        font-size: 16px;
    }
    .tp{
        margin-top: 25%;
    }    
    .sp{
        margin-top: 35%;
    }  
    .DayPhoto{
        max-width: 100%;
        min-height: auto;
    }
    .im{
        max-width: 95%;
        min-height: auto;
    }
    .background__little-stars{
        background-image: url(../assets/img/Lstarsm.png);
    }
    .DF{
        display: none;
    }
    .colors{
        display: none;
    }
}